body {
  background-image: url("./assets/img/white-painted-wall-texture-background-web.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: cover;*/
}

.wrapper {
  /*text-align: center;*/
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  /*border: black 2px solid;*/
}

.title {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  gap: 30px;
}

.slider__slides {
  overflow: hidden;
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slider__slides-body {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.slider__slide {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/mem1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.buttons-text-wrapper {
  display: flex;
}

.slider__textarea {
  display: flex;
  overflow: hidden;
  width: 75%;
}

.slider__text {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  transition: 0.5s;
}

/*
.slider__text_1 {
  margin-left: 0;
}*/

.slider__buttons {
  /*cursor: pointer;*/
  display: flex;
  justify-content: flex-end;
  order: 2;
  width: 25%;
  text-align: right;
}

input {
  display: none;
}

.slider__button {
  padding: 10px;
  cursor: pointer;
}

.slider__button:hover .slider__switcher {
  background-color: darkgray;
}

#slider__button_1:checked ~ .buttons-text-wrapper .slider__buttons .slider__button .slider__switcher_1,
#slider__button_2:checked ~ .buttons-text-wrapper .slider__buttons .slider__button .slider__switcher_2,
#slider__button_3:checked ~ .buttons-text-wrapper .slider__buttons .slider__button .slider__switcher_3,
#slider__button_4:checked ~ .buttons-text-wrapper .slider__buttons .slider__button .slider__switcher_4 {
  background-color: black;
}

.slider__switcher {
  display: block;
  /*margin: 5px;*/
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  transition: 0.5s;

}

/* ============Motion ==============*/

#slider__button_2:checked ~ .slider__slides .slider__slides-body {
  margin-top: -50vh;
}

#slider__button_3:checked ~ .slider__slides .slider__slides-body {
  margin-top: -100vh;
}

#slider__button_4:checked ~ .slider__slides .slider__slides-body {
  margin-top: -150vh;
}

#slider__button_2:checked ~ .buttons-text-wrapper .slider__textarea .slider__text_1 {
  margin-left: -100%;
}

#slider__button_3:checked ~ .buttons-text-wrapper .slider__textarea .slider__text_1 {
  margin-left: -200%;
}

#slider__button_4:checked ~ .buttons-text-wrapper .slider__textarea .slider__text_1 {
  margin-left: -300%;
}